
/*BODY START*/
body{
    margin: 0;
    padding: 0;
    background-color: #888888;
}
/*BODY END*/

/*====================================*/

/* Logged Nav-Bar Start*/
#LoggedNav{
    top: 0;
    margin-bottom: 10px;
    background-color: orange;
}

/* Logged Nav-Bar End*/

/*====================================*/

/*Not Logged Nav-Bar Starts*/

#NotLoggedNav{
    top: 0;
    margin-bottom: 10px;
    background-color: orange;
}

/*Not Logged Nav-Bar Ends*/

/*====================================*/

/*Posts Starts*/

.posts{
    border: 2px solid black;
    width: 75%;
}
.row{
    justify-content: center;
}
/*Posts Ends*/

/*====================================*/

/*Footer Start*/

footer{
    margin-top: 40px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: orange;
}

footer div{
    margin: 10px;
}

/*Footer End*/

/*====================================*/

/*Profile Page Starts*/

#profileView{
    display: flex;
    justify-content: space-between;
    width: 100%;
}

#profileLeft{
    margin-left: 10px;
}


#profileRight{
    margin-left: 50px;
    flex-grow: 2;
    text-align: center;
    justify-content: center;
    align-items: center;
}

/* The Modal (background) */
.modal {
    display: none;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.4);
}

 /*Modal Content/Box */
.modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */

}



/*Profile Ends*/

/*====================================*/
